

header, footer {
  background-color: var(--bg-color-gray);
}


main > .float-start {
  box-shadow: 0.6rem 0.6rem 0.6rem gray;
}

.far-galaxy {
  font-size: 1.8em;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: justify;
}

.rounded-bottom-left {
  border-bottom-left-radius: 2rem;
}

.rounded-bottom-right {
  border-bottom-right-radius: 2rem;
}


footer {
  height: 5rem;
}


.btn-danger {
  background-color: var(--bg-color-danger);
  color: var(--color-main);
}

.crawl-container {
  position: relative;
  height: 800px;
  overflow: hidden;

  color: yellow;
  perspective: 500px;
}

.far-galaxy {
  position: absolute;
  bottom: -100%;
  width: 100%;
  text-align: justify;
  transform: rotateX(25deg);
  transform-origin: 60% 100%;
  animation: crawl 20s linear infinite;

}

@keyframes crawl {
  from {
    bottom: -100%;
  }
  to {
    bottom: 120%;
  }
}
.blink-photo {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 30px #ff0000;
  }
}